<style>
  .item-center {
    margin: auto;
  }

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 42%;
    float: inline-start;
  }

  .fb,
  .x,
  .git,
  .in {
    width: 50px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: 800;
    font-size: 30px;
  }

  .fb {
    color: darkblue;

  }

  .git {
    color: grey;

  }

  .in {
    color: rgb(57, 104, 221);
  }

  .card-body {
    margin-bottom: 0;
    margin: 0;
  }
</style>
<div class="card text-center mt-4">
  <div class="card-body">
    <h5 class="card-title">Please Follow the Recommended Meals</h5>
    <p class="card-text text-center">Better Sports with SportyEats.</p>
    <div class="social">
      <div class="fb"><i class="fa fa-facebook"></i></div>
      <div class="x"><i class="fa fa-twitter"></i></div>
      <div class="git"><i class="fa fa-github"></i></div>
      <div class="in"><i class="fa fa-linkedin"></i></div>
    </div>
  </div>
  <div class="card-footer text-muted item-center">
    All Rights Reserved &copy;. <strong>2023</strong>
  </div>
</div>